:root {
	--primary-text: #213547;
	--primary-bg: #ffffff;
	--accent: #747bff;
	--neutral: #f9f9f9;

	--primary-text-dark: rgba(255, 255, 255, 0.87);
	--primary-bg-dark: #242424;
	--accent-dark: #646cff;
	--neutral-dark: #9a9a9a;

	/** common */
	--neutral-1: #242424;
	--neutral-2: #1a1a1a;
	--box-shadow: 0px 0px 20px rgb(83 83 132 / 38%);
}

@media (prefers-color-scheme: dark) {
	:root:not(html[data-theme="light"]) {
		--primary-text: var(--primary-text-dark);
		--primary-bg: var(--primary-bg-dark);
		--accent: var(--accent-dark);
		--neutral: var(--neutral-dark);
	}
}

html[data-theme="dark"]:root {
	--primary-text: var(--primary-text-dark);
	--primary-bg: var(--primary-bg-dark);
	--accent: var(--accent-dark);
	--neutral: var(--neutral-dark);
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--primary-text);
	background-color: var(--primary-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*:focus,
:focus-visible,
button:focus,
button:focus-visible {
	outline: 2px auto var(--accent) !important;
}

.error:focus,
.error:focus-visible {
	outline-color: red !important;
}

#root {
	max-width: 1280px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	margin: 0;
	place-items: center;
	min-height: 100vh;
}

a {
	font-weight: 500;
	color: var(--accent);
	text-decoration: inherit;
}

a:hover {
	opacity: 0.9;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--neutral);
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--accent);
}

button.active {
	color: var(--neutral-1);
	font-weight: 900;
	border-color: var(--neutral-1);
}

button.primary {
	background-color: var(--accent);
	color: #fff;
}

button.primary:hover {
	background-color: transparent;
	color: var(--accent);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

button.btn-sm {
	padding: 0.3em 0.6em;
}

input,
select {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--neutral-dark);
	background-color: var(--primary-bg);
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.search {
	height: auto;
}

tr.tr {
	background-color: var(--primary-bg);
}

@media screen and (max-width: 468px) {
	#root {
		padding: 1rem;
	}
}

/*** X selector *****/
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.gap-4 {
	gap: 4px;
}

@media screen and (max-width: 368px) {
	.flex {
		justify-content: center;
	}
}

/** modal component **/
.modal-container {
	background-color: var(--primary-bg);
}

.error,
.danger {
	padding: 20px;
	background: #e62b2b29;
	color: red;
	border-radius: 6px;
}

.error:hover,
.danger:hover {
	border-color: red;
}

.form-group {
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/** theme switch **/
.theme-switch-container {
	width: max-content;
	position: absolute;
	right: 10px;
	bottom: 20px;
}

.theme-switch {
	position: relative;
}

.theme-switch span {
	position: absolute;
	right: 24px;
	bottom: 8px;
	text-transform: capitalize;
	transform: rotate(-18deg);
	max-width: 40px;
	color: var(--neutral-1);
}

.theme-switch button {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none !important;

	background-color: var(--neutral);
	border-radius: 100%;
	padding: 23px 25px;

	box-shadow: var(--box-shadow);
}

.theme-switch button img {
	width: 50px;
}
